<%@notebook= current_user.notebooks.new%>
<%=form_for @notebook do |f| %>
  <input type="hidden" name="authenticity_token" value=<%=form_authenticity_token%>>
<div class="container" style="margin-bottom:50px;">
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <h2>Create a Notebook</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <h3>Choose a title</h3>
      <%= f.text_field :name, class: "form-control", placeholder: "Title(optional)"%>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <h3>Choose a subject</h3>
      <input class="form-control" type="text" name="notebook[subject]" placeholder="Subject">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
        <h3>Pick a cover</h3>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <h3>Pick a paper type</h3>
    </div>
  </div>
  <div class="row">
    <input type="hidden" name="notebook[cover]" value="cover.jpg" id="hcover">
    <div class="col-md-3 col-md-offset-2 nb-create-options" id="nb-cover-option">

    </div>
    <input type="hidden" name="notebook[paper]" value="squares-light-blue.jpg" id="hpaper">
    <div class="col-md-3 col-md-offset-1 nb-create-options" id="nb-paper-option">

    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-md-3 col-md-offset-2">
      <div class="col-md-3 col-md-offset-3">
        <button class="btn btn-default form-control" type="button" id="prev-cover"><span class="fa fa-arrow-left"></span></button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-default form-control" type="button" id="next-cover"><span class="fa fa-arrow-right"></span></button>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <div class="col-md-3 col-md-offset-3">
        <button class="btn btn-default form-control" type="button" id="prev-paper"><span class="fa fa-arrow-left"></span></button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-default form-control" type="button" id="next-paper"><span class="fa fa-arrow-right"></span></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
        <h3>Pick a custom title font</h3>
      <select id="tfont-select" name="notebook[tfont]">

      </select>
      <p class="text-display" id="title-display">Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <h3>Pick a custom text font</h3>
      <select id="font-select" name="notebook[font]"></select>
      <p class="text-display" id="font-display">Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <h3>You should be all set by now. Let's finish</h3><input type="submit" value="Create" class="form-control btn btn-default">
    </div>
  </div>
</div>
</form>
<%end%>
<script>
  var fonts={lato:"'Lato', sans-serif",slabo:"'Slabo 27px', serif",roboto:"'Roboto Condensed', sans-serif",raleway:"'Raleway', sans-serif",lora:"'Lora', serif",ptsans:"'PT Sans', sans-serif",opensans:"'Open Sans Condensed', sans-serif",titillium:"'Titillium Web', sans-serif",indie:"'Indie Flower', cursive",poiret:"'Poiret One', cursive",dosis:"'Dosis', sans-serif",lobster:"'Lobster', cursive",abel:"'Abel', sans-serif",josefin:"'Josefin Sans', sans-serif",shadows:"'Shadows Into Light', cursive",pacifico:"'Pacifico', cursive",varela:"'Varela Round', sans-serif",amatic:"'Amatic SC', cursive",dancing:"'Dancing Script', cursive"};
  var title_fonts={montserrat:"'Montserrat', sans-serif",fjalla:"'Fjalla One', sans-serif",lobster:"'Lobster', cursive",shadows:"'Shadows Into Light', cursive",pacifico:"'Pacifico', cursive",varela:"'Varela Round', sans-serif"};
  var covers=["cover.jpg","cover-ring.png","brown.jpg","sandy.jpg"];
  var papers=["squares-light-blue.jpg","brown.jpg","sandy.jpg","plain-rings.png","squares-blue.jpg","squares-gray.jpg","squares-light-blue-2.jpg","striped-tab.png","stripes-black.jpg","stripes-gray.jpg","stripes-light-blue.jpg","stripes-rings.png","stripes-strong-blue.jpg","yellow-striped.jpg","yellow-striped-tab.jpg"];
  scover=0;
  spaper=0;


        for(x in fonts){
            $("#font-select").append("<option value="+x+">"+fonts[x]+"</option>");
        }
        for(x in title_fonts){
            $("#tfont-select").append("<option value="+x+">"+title_fonts[x]+"</option>");
        }
        $("#title-display").css("font-family",$("#tfont-select option:selected").text());
        $("#font-display").css("font-family",$("#font-select option:selected").text());
        $("#font-select").change(function(){
            $("#font-display").css("font-family",$("#font-select option:selected").text());
        });
        $("#tfont-select").change(function(){
            $("#title-display").css("font-family",$("#tfont-select option:selected").text());
        });

        $("#prev-cover").click(function(){
            if(scover+1==covers.length){
                $("#next-cover").removeAttr("disabled");
            }
            scover-=1;
            $("#nb-cover-option").css("background-image","url('../assets/"+covers[scover]+"')");
            $("#hcover").val(covers[scover]);
            if(scover==0){
                $(this).attr("disabled","true");
            }
        });
      $("#next-cover").click(function(){
          if(scover==0){
              $("#prev-cover").removeAttr("disabled");
          }
          scover+=1;
          $("#nb-cover-option").css("background-image","url('../assets/"+covers[scover]+"')");
          $("#hcover").val(covers[scover]);
          if(scover+1==covers.length){
              $(this).attr("disabled","true");
          }
      });
      $("#prev-paper").click(function(){
          if(spaper+1==papers.length){
              $("#next-paper").removeAttr("disabled");
          }
          spaper-=1;
          $("#nb-paper-option").css("background-image","url('../assets/"+papers[spaper]+"')");
          $("#hpaper").val(papers[spaper]);
          if(spaper==0){
              $(this).attr("disabled","true");
          }
      });
      $("#next-paper").click(function(){
          if(spaper==0){
              $("#prev-paper").removeAttr("disabled");
          }
          spaper+=1;
          $("#nb-paper-option").css("background-image","url('../assets/"+papers[spaper]+"')");
          $("#hpaper").val(papers[spaper]);
          if(spaper+1==papers.length){
              $(this).attr("disabled","true");
          }
      });
  $("#next-cover").removeAttr("disabled");
        $("#next-paper").removeAttr("disabled");
        $("#prev-cover").attr("disabled","true");
        $("#prev-paper").attr("disabled","true");
</script>