<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h3>Other notebooks</h3>
      <% current_user.notebooks.each do |n|%>
          <%if n.id!=@notebook.id%>
              <div class="row">
                <a href="/notebooks/<%=n.id%>">
                    <div class="col-md-8 col-md-offset-1" style="height:200px;background-image:url('/assets/<%=n.cover%>'); border-radius: 0 10px 10px 0">
                    </div>
                </a>
              </div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <p><strong>Name: </strong><%=n.name%></p>
                </div>
              </div>
          <%end%>
      <% end %>
    </div>
    <div class="col-md-9">
      <br>
      <h1><%=@notebook.name%></h1>
    </div>
  </div>
</div>