<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% @topics= @notebook.topics%>
    <%= f.hidden_field( :notebook_id,{id:'notebook_id', value:@notebook.id})%>
    <%= f.hidden_field( :topic_id,{id:'topic_id', name:'entry[topic_id]'})%>
  <div class="field">
    <%= text_field_tag( :topic_display,nil,class: 'form-control',placeholder:'Topic')%>
  </div>
  <div class="field">
    <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.select(:tipo, options_for_select([['Type','Text'],['Text','Text'],['Drawing','Drawing'],['Image','Image']]), class: 'form-control') %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: 'Enter your text here', class: 'form-control', style:'resize:none;height:200px' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default',id:'but-sbmt-frm' %>
  </div>
<% end %>
