<h1>Listing entries</h1>

<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Name</th>
      <th>Content</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.topic_id %></td>
        <td><%= entry.name %></td>
        <td><%= entry.content %></td>
        <td><%= entry.created %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
