<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @entry.topic_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @entry.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @entry.content %>
</p>

<p>
  <strong>Created:</strong>
  <%= @entry.created %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
