<p id="notice"><%= notice %></p>

<p>
  <strong>Notebook:</strong>
  <%= @topic.notebook_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
