<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-center">
    <%= f.text_field :name, :placeholder => "Name",style: "color:black",class: "form-control" %>
  </div>
  <div class="field text-center">
    <%= f.text_field :lname, :placeholder => "Last Name",style: "color:black",class: "form-control" %>
  </div>
  <div class="field text-center">
    <%= f.email_field :email, :placeholder => "Email",style: "color:black",class: "form-control" %>
  </div>
  <div class="field text-center">
    <%= f.password_field :password, :placeholder => "password",style: "color:black",class: "form-control" %>
  </div>
  <div class="actions text-center">
    <%= f.submit :value=> "Get Started!", style: "color:black",class: "btn btn-default"%>
  </div>
<% end %>
