<div class="navbar navbar-default navbar-static-top" style='margin-top:0'>
	<div class='container-fluid'>
		<div class='navbar-header'>
			<a class='navbar-brand' href='#'>
				Notebook
			</a>
		</div>
		<div class='collapse navbar-collapse navbar-right'>
			<ul class='nav navbar-nav'>
				<li>
					<a href='#'><%= @user.name %></a>
				</li>
				<li>
					<a href='#'>Settings</a>
				</li>
				<li>
					<a href='#'>Log Out</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class='container' style='width:100%'>
	<div class='col-md-3'>
		<h2>Your Account</h2>
		<p><strong>Email:</strong><%= @user.email %></p>
		<p><strong>Name:</strong><%= @user.name %></p>
		<p><strong>Last Name:</strong><%= @user.lname %></p>
		<%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %>
	</div>
	<div class='col-md-7'>
		<h2>Your Notebooks</h2>
		<% @user.notebooks.each do |noteb| %>
			<div class='col-md-6' style='margin-bottom:10px'>
				<div class='thumbnail'>
					<%= link_to image_tag("notebook_cover_1.jpg"), notebook_path(noteb) %>
				</div>
				<p><strong>Name: </strong><%= noteb.name %></p>
				<p><strong>Subject: </strong><%= noteb.subject %></p>
				<p><strong>Created on: </strong><%= noteb.created %></p>
			</div>
		<% end %>
	</div>
</div>
<p id="notice"><%= notice %></p>
