<% if user_signed_in?%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <h2>Your Account</h2>
          <p><strong>Email:</strong><%=current_user.email%></p>
          <p><strong>Notebooks:</strong><%=current_user.notebooks.count%></p>
        </div>
        <div class="col-md-8">
          <h2>Your Notebooks</h2><br>
          <% if current_user.notebooks.count==0 %>
              <h2 style="color:gray">And here's where I'd put your notebooks.</h2>
              <h2 style="color:gray">If you had any.</h2>
              <div class="col-md-4 text-center">
                <h3>Get Started</h3>
                <span class="fa fa-book fa-5x" style="font-size:50pt;color:gray"></span><br>
                <%=link_to 'Create your first notebook','/notebooks/editor'%>
              </div>
              <div class="col-md-4 text-center">
                <h3>Learn How</h3>
                <span class="fa fa-graduation-cap fa-5x" style="font-size:50pt;color:gray"></span><br>
                <a href="#">See what you can do with Notebook</a>
              </div>
          <%else%>
              <% current_user.notebooks.each do |n| %>
                <div class="col-md-6">
                  <div class="row">
                    <a href="/notebooks/<%=n.id%>">
                      <div class="col-md-10 <%if current_user.notebooks.index(n)%2==1%>col-md-offset-1<%end%>" style="height:400px;background-image:url('/assets/<%=n.cover%>');border-radius: 0 15px 15px 0">
                      </div>
                    </a>
                  </div>
                  <div class="col-md-10 col-md-offset-1">
                    <br><p><strong>Name: </strong><%=n.name%></p>
                    <p><strong>Subject: </strong><%=n.subject%></p>
                    <p><strong>Created: </strong><%=time_ago_in_words(n.created_at)%> ago</p>
                  </div>
                </div>
              <%end%>
              <div class="col-md-6">
                <a href="/notebooks/editor">
                    <div class="col-md-10 <%if current_user.notebooks.count%2==1%> col-md-offset-1 <%end%> text-center" style="cursor:pointer;font-size:30pt;color:#ccc;background:#e6e6ff;border:5px dotted lightgrey; height:400px">
                        <br><span class="fa fa-plus-square fa-5x"></span>
                      <p>New</p>
                    </div>
                </a>
              </div>
          <%end%>
        </div>
      </div>
    </div>
<%end%>
