/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nb-create-options{
    height:350px;
}

#nb-cover-option{
    background-image:url('cover.jpg');
    border-radius: 0 15px 15px 0;
}

#nb-paper-option{
    background-image:url('stripes-light-blue.jpg');
    border-radius: 0 15px 15px 0;
}

.text-display{
    font-size:17pt;
    color:gray;
}

/* This are the custom fonts used
font-family: 'Lato', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lora', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Abel', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Varela Round', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Dancing Script', cursive;
*/