<!DOCTYPE html>
<html>
<head>
  <title>Notebooks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato|Slabo+27px|Roboto+Condensed|Montserrat|Raleway|Lora|PT+Sans|Open+Sans+Condensed:300|Fjalla+One|Titillium+Web|Indie+Flower|Poiret+One|Dosis|Lobster|Abel|Josefin+Sans|Shadows+Into+Light|Pacifico|Varela+Round|Amatic+SC|Dancing+Script|Bangers|Architects+Daughter' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in?%>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Notebook</a>
        </div>
        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><%=link_to current_user.email,'/'%></li>
            <li><a href="#">Settings</a></li>
            <li><%= link_to('Log out', destroy_user_session_path, :method => :delete) %></li>
          </ul>
        </div>
      </div>
    </div>
<%end%>
<%= yield %>

</body>
</html>
